{% extends 'index.html' %}
{% block ace-content %}
    <!-- Search -->
    <link rel="stylesheet" href="/static/dist/css/jquery-ui.min.css">
    <script src="/static/dist/js/jquery-ui.min.js"></script>
    <style type="text/css">
        td.details-control {
            background: url('/static/img/details_open.png') no-repeat center center;
            */ cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/static/img/details_close.png') no-repeat center center;
        }
    </style>
{% endblock %}
{% block page-content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa  fa-search"></i> 日志筛选器</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-search-plus"></i> 筛选类型
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">系统:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="selSysMod">
                                            <option selected="selected" value="">请选择一个类型</option>
                                            {% for m in sysmodList %}
                                                <option value="{{ m }}" name="sysmod">{{ m }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-check "></i> 已选条件
                </div>

                <div class="panel-body">
                    <div id="divSelectedType">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-tasks "></i> 结果列表
                </div>

                <div class="panel-body">
                    <div id="div-search-result" style="display:none;">
                        <div class="col-lg-10">
                        </div>
                        <div>
                            <table width="100%"
                                   class="table table-striped table-bordered table-hover dataTable no-footer"
                                   id="dataTables-Search">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">日志标签</th>
                                    <th class="text-center">系统标签</th>
                                    <th class="text-center">服务器</th>
                                    <th class="text-center">路径</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                <tfoot>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">日志标签</th>
                                    <th class="text-center">系统标签</th>
                                    <th class="text-center">服务器</th>
                                    <th class="text-center">路径</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </tfoot>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>


    <script type="text/javascript">


        var curpage = 1;
        $(document).ready(function () {
            /*             $('.assets_add').leanModal({ top: 100, overlay: 0.45, closeButton: ".pb-x" }); */

            //系统分类
            $('#selSysMod').change(function () {
                if ($('#selSysMod').val() != "") {
                    $("#hdnSysMod").val($('#selSysMod').val());
                    var span = "<span class='label label-success' id='spanSysMod'>" + $("#selSysMod").find("option:selected").text()
                        + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='sysmod' type='hidden' value='"
                        + $('#selSysMod').val() + "' /></span> &nbsp;";
                    if ($("#spanSysMod").length == 0) {
                        $('#divSelectedType').append(span);
                    } else {
                        $("#spanSysMod").html($("#selSysMod").find("option:selected").text()
                            + " <img alt='' src='/static/img/close.png' onclick='removeself(this)' /><input name='sysmod' type='hidden' value='"
                            + $('#selSysMod').val() + "' /></span> &nbsp;");
                    }
                    changepage(1);
                }
            })


        })

        function search_go() {
            var parameter = {};
            $("input[type='hidden']").each(function () {
                var key = $(this).prop('name');
                var value = $(this).val();
                parameter[key] = value;
            })

            var count = 0;
            for (var i in parameter) {
                count += i;
                break;
            }
            if (count == 0) {
                return false;
            }

            $.post('/logmon/search/', parameter, function (result) {
                if (result["data"].length > 0) {
                    document.getElementById("div-search-result").style.display = "";
                    var table = $('#dataTables-Search').dataTable();
                    oSettings = table.fnSettings();
                    table.fnClearTable(this);
                    for (var i = 0; i < result["data"].length; i++) {
                        table.oApi._fnAddData(oSettings, result["data"][i]);
                    }
                    oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
                    table.fnDraw();
                } else {
                    //没有数据就清空
                    var table = $('#dataTables-Search').dataTable();
                    table.fnClearTable(this);
                }
            })
        }

        function changepage(pageindex) {
            curpage = pageindex;
            search_go();
        }

        function removeself(obj) {
            $(obj).parent().remove();
            changepage(1);
        }

        function format(dataList) {
            var trHtml = '';
            for (var i = 0; i < dataList.length; i++) {
                trHtml += '<tr><td>' + dataList[i]["name"] + ':</td>' + '<td>' + dataList[i]["value"] + '</td></tr>'
            }
            ;
            var vHtml = '<fieldset>' +
                '<legend>硬件信息</legend>' +
                '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                trHtml +
                '</table>'
            '</fieldset>';
            return vHtml;
        }

        $(document).ready(function () {
            var table = $('#dataTables-Search').DataTable({
                /* 	        "ajax": "../ajax/data/objects.txt", */
                "columns": [
                    {"data": "ID"},
                    {"data": "日志标签"},
                    {"data": "系统标签"},
                    {"data": "服务器"},
                    {"data": "路径"},
                    {"data": "操作"}
                ],
                "order": [[0, 'asc']]
            });
        });

    </script>

    <script type="text/javascript">
        function showLog(obj,zid) {
            var btnObj = $(obj);
            var post_data = {};
            post_data['zid'] = zid
            btnObj.attr('disabled', true);
            var putUrl = '/logmon/show/';
            $.ajax({
                {#dataType: "JSON",#}
                url: putUrl, //请求地址
                type: "POST",  //提交类似
                data: post_data, //提交参数
                success: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm("成功", window.wxc.xcConfirm.typeEnum.success);
                },
                error: function (response) {
                    btnObj.removeAttr('disabled');
                    window.wxc.xcConfirm("失败", window.wxc.xcConfirm.typeEnum.error);
                }
            })
        }



        {% if errorInfo %}
            window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
        {% endif %}
    </script>

{% endblock %}